
.footer {
    position: sticky;
    bottom: 0;
    height: 85px;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  