/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    height: 85px;
    color: #fff;
    /* background-color: #000; */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

@media (max-width: 690px) {
    .navbar {
        padding-top: 10px;
        height: 100px;
    }
}

/* Hide Navbar after scrollY */
.navbar.scrolling {
    transform: translateY(-100%);
}

/* Navbar Navigation */
.navbarNav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0;
}

@media (max-width: 690px) {
    .navbarNav {
        flex-direction: column;
        justify-content: space-around;
        margin: 0 20px 0;
    }
}

/* List Items */
.navbarListItems {
    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style: none;
}

@media (max-width: 690px) {
    .navbarListItems {
        width: 100%;
        justify-content: space-around;
    }
}

/* Links */
.navbarListItems a {
    display: flex;
    margin-left: 40px;
    text-decoration: none;
    display: inline-block;
    color: #eee;
    font-weight: bold;
    letter-spacing: 0.7px;
}

@media (max-width: 690px) {
    .navbarListItems a {
        margin-left: 0;
    }
}

/* Hover and Active Links */
.navbarListItems a:hover {
    color: #e50914;
}

.navbarListItems a.active {
    color: #e50914;
    text-decoration: underline;
}

/* Search */
.search {
    position: relative;
    height: 40px;
}

/* Search Input */
.searchInput {
    background-color: transparent;
    border: 0;
    border-radius: 50px;
    padding: 0.5rem;
    height: 40px;
    width: 40px;
    padding: 5px;
    font-size: 1rem;
    caret-color: #fff;
    transition: width 0.3s ease, padding 0.3s ease, transform 0.3s ease;
}

@media (max-width: 690px) {
    .searchInput {
        height: 30px;
        width: 30px;
        font-size: 13px;
    }
}

.searchInput::placeholder {
    color: transparent;
}

/* Search Button */
.searchButton {
    background-color: transparent;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

@media (max-width: 690px) {
    .searchIcon {
        height: 30px;
        width: 30px;
    }
}

.searchButton:focus,
.searchInput:focus {
    outline: none;
}

/* Active Search */
.search.active .searchInput {
    background-color: #2b2b2b;
    display: inline;
    padding-left: 15px;
    width: 200px;
}

.search.active .searchInput::placeholder {
    color: #b0b0b0;
}

.search.active .searchButton {
    transform: translateX(-40px);
}