@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("assets/jpg/shawshank.jpg") no-repeat center center/cover fixed;
}

.shared-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Zajistí, že layout bude minimálně zabírat celou výšku okna prohlížeče */
}

